.git
.github
.changeset
.DS_Store
.env
.env.*
!.env.example
node_modules
**/node_modules
dist
**/dist
lib
**/lib
coverage
**/coverage
.cache
**/.cache
*.db
*.db-shm
*.db-wal
.session-secret
*.log
npm-debug.log*
